@media (prefers-color-scheme: light) {
	html, body {
		color: black;
		background-color: white;
	}
	button, input, select, textarea {
		border: 2px outset #c2c2c2;
	}
}
@media (prefers-color-scheme: dark) {
	html, body {
		color: white;
		background-color: #2c2c2f;
	}
	button, input, select, textarea {
		color: white;
		background-color: #202020;
		caret-color: white;
		border: 2px outset #656565;
	}
	::selection {
		color: black;
		background-color: #0af;
	}
	input:disabled {
		color: #999;
		background-color: #333;
		border: 2px inset #555;
	}
}

/*overrides chrome default size and avoid setting for android*/
@media (pointer: fine) {
	body {
		min-width: 500px;
	}
}
body {
	padding: .5em;
	overflow: hidden;
}
a {
	color: #0af;
	font-weight: bold;
	text-decoration: none;
}
h4 {
	margin: 1.5em 0 .15em 0;
}
label {
	margin: .15em 0;
}
button, input, select, textarea {
	padding: 0 .3em;
	border-radius: 3px;
}
input:invalid:not(#fsprecision) {
	box-shadow: none;
}
:focus:not(a) {
	border: 2px outset #0af;
}
button {
	padding: .1em .7em;
}
textarea {
	width: 100%;
	padding: .2em .4em;
	resize: none;
	overflow: hidden;
}
input[type="text"] {
	padding: 0 .5em;
}
input[type="number"] {
	width: 4em;
}
input[type="checkbox"] {
	vertical-align: middle;
	margin: 0 .2em 0 0;
}

textarea.error {
	border: 2px outset #f20;
}
.fixedWidth {
	display: inline-block;
	max-width: 55%;
	width: 14em;
	margin-right: .2em;
}
.labelCheckBox {
	vertical-align: middle;
}
.floatLeft {
	float: left;
}
.floatRight {
	float: right;
}
#fsdivision {
	width: 6em;
}
