/*Preset styles: copy and paste the css code, after the commented name, into your custom css text box*/
{
/*cyanRound*/
color: white; background-color: #08bc; font: 15px ubuntu, arial, sans-serif; border-radius: 10px; padding: 0 10px; text-align: center; text-shadow: #000d 2px 2px 2px;
/*greenLeaf*/
color: white; background: #8c5b; font: 15px arial, sans-serif; border: solid 2px #2223; border-radius: 3px 20px; padding: 0 10px 0 10px; text-align: right; text-shadow: 2px 1px 4px #050500aa;
/*terminal*/
color: #5f3f; background: #040e; font: bold 17px Terminus, FreeSans, monospace; border-radius: 10px 0px; border: 4px #3a3; border-style: outset dashed double double; padding: 3px; text-align: left; text-shadow: 1px 0px 6px #4f4a;

/*abstractPaint
  Colorfull By CarlosAngelOficial / CC BY-SA 4.0
  https://commons.wikimedia.org/wiki/File:198690-texture.jpg
*/
color: white; background: black url(https://upload.wikimedia.org/wikipedia/commons/e/e7/198690-texture.jpg) left -5px top -20px / 120%; font: 1.3em Ubuntu mono, monospace; text-shadow: #000e 0px 0px 3px; border: outset 4px #fff4; border-radius: 20px 0px; padding: 0px 5px 0px 3px;
/*vectorLeaf
  https://pixabay.com/illustrations/color-triangle-geometric-textured-2174065/
*/
color: white; background: black url(https://cdn.pixabay.com/photo/2017/03/25/18/06/color-2174065_960_720.png) left -20px top -40px/130%; font: bold 1.3em cursive, sans-serif; text-shadow: 0px 0px 3px #000e; border: outset 4px #fff6; border-radius: 20px 0px; padding: 0 8px 0 5px;

/*serifBeach
  https://www.pexels.com/photo/sea-landscape-beach-landmark-21787
*/
color: white; background: lightblue url(https://images.pexels.com/photos/21787/pexels-photo.jpg?h=400) top/120%; border-radius: 10px; padding: 5px; font: 18px "Times New Roman", Georgia, Serif; text-shadow: 2px 2px 2px black;
/*roundStars
  https://www.pexels.com/photo/timelapse-photography-of-stars-at-night-169789
*/
color: white; background: black url(https://images.pexels.com/photos/169789/pexels-photo-169789.jpeg?h=400) left top -30px/100%; font: 20px fantasy, sans-serif; padding: 1px 20px; border-radius: 20px;

/*sunsetBackground
  Mac Qin - Maldives in the morning (Constance Halaveli Resort & Spa)
  https://www.flickr.com/photos/qin1109/14401060837
*/
color: white; background: black url(https://c2.staticflickr.com/6/5547/14401060837_e56c5f1d7c.jpg) left -0.5em top -1.5em/150%; font: bold 1.4em "Ubuntu Condensed", "Latin Modern Math", Georgia, sans-serif; border-radius: 8px; padding: 0 8px; text-align: right; text-shadow: black 3px 1px 3px; box-shadow: 3px 2px 3px black;
/*sunsetCutout*/
color: black; background: #29c url(https://c2.staticflickr.com/6/5547/14401060837_e56c5f1d7c.jpg) top/100%; font: 20px "Impact", sans-serif; text-shadow: 0px 1px 2px #fff; background-clip: text; border: solid 4px transparent; border-image: url(https://c2.staticflickr.com/6/5547/14401060837_e56c5f1d7c.jpg) 1; padding: 3px; -webkit-text-stroke: 3px transparent;

}
